[submodule "backend/rmp-scraper"]
	path = backend/rmp-scraper
	url = https://github.com/Grade-IENT/rmp-scraper.git
[submodule "backend/sentiment_analysis"]
	path = backend/sentiment_analysis
	url = https://github.com/Grade-IENT/sentiment_analysis.git
[submodule "backend/Grade-ient_SQI"]
	path = backend/Grade-ient_SQI
	url = https://github.com/Grade-IENT/Grade-ient_SQI.git
[submodule "backend/class_and_pre-rec_scraper"]
	path = backend/class_and_pre-rec_scraper
	url = https://github.com/Grade-IENT/class_and_pre-rec_scraper.git
